* {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
}

.header {
	padding: 10px 10px;
	height: auto;
	background-color: #f1f1f1;
	font-size: 14px;
}

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #396;
    color: white;
    text-align: center;
}

.main {
	margin: 0px 10px;
}

/* Columns */

.column_10 {
    width: 10%;
}

.column_90 {
    width: 90%;
}

.column_30 {
    width: 30%;
}

.sidebar {

}

/* Input fields and button */

.button {
	display: inline-block;
	font-size: 13px;
	font-family: Helvetica, sans-serif;
	color: #fff;
	background-color: #396;
	margin-top: 1%;
    width: 55px;
    height: 5%;
    border: 1px;
    border-radius: 2px;
    padding: 8px 8px;
}

.input {
	display: inline-block;
    border: 1px solid #ccc;
    padding: 10px 8px;
    margin: 2px 0;
}

/* Color alert */

.error {
	color: red;
}

.success {
	color: green;
}

/* Menu features */

.menu {
	width: 50%;
	height: auto;
	padding: 10px 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1px solid;
	float: center;
}

.dropbtn {
    /*background-color: #396;*/
    color: grey;
    padding: 5px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    z-index: 1;
    font-size: 14px;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #fafafa; color: #396;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: #396; /*font-weight: bold;*/}

/* End */
