* {
    box-sizing: border-box;
}

body {
    margin: 0;
	font-family: Helvetica, sans-serif;
}

.header {
    width: 100%;
	padding: 10px 10px;
	height: auto;
	background-color: #f1f1f1;
	font-size: 14px;
}

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #396;
    color: white;
    text-align: center;
}

.main {
    /*margin-left: 200px;*/
	padding: 10px 10px;
    width: auto;
    display: block;
}

/* Sidebars */

.sidenav {
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 230px;
    left: 10px;
    background: #f8f8f8;
    overflow-x: hidden;
    padding: 10px 0;
}

.sidenav a {
    padding: 8px 8px 16px 16px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    display: block;
}

.sidenav a:hover {color: #396;}

.sidenav a.active {color: #396; background: #fdfdfd;}


/* Columns */

/*.column_10 {
    column-width: 10%;
}

.column_20 {
    column-width: 20%;
}

.column_30 {
    column-width: 30%;
}

.column_90 {
    column-width: 90%;
}*/




/* Input fields and button */

.button {
    text-decoration: none;
	display: inline-block;
	font-size: 13px;
	font-family: Helvetica, sans-serif;
	color: #fff;
	background-color: #396;
	margin-top: 1%;
    width: 55px;
    height: 5%;
    border: 1px;
    border-radius: 2px;
    padding: 8px 8px;
}

.input {
	display: inline-block;
    border: 1px solid #ccc;
    padding: 10px 8px;
    margin: 2px 0;
}

.link {

}

/* Color alert */

.error {
	color: red;
}

.success {
	color: green;
}

/* Menu features */

.menu {
	width: 50%;
	height: auto;
	padding: 10px 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1px solid #ccc;
	float: center;
}

.dropbtn {
    text-decoration: none;
    color: grey;
    padding: 5px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    text-decoration: none;
    min-width: 120px;
    z-index: 1;
    font-size: 14px;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #fafafa; color: #396;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: #396; /*font-weight: bold;*/}

/* Gallery needs a lot of editing */

.gallery_container {
    margin: 0 0 10px;
    border: 1px solid #ccc;
    padding: 0 6px;
    float: left;
    height: auto;
}

.desc {
    font-size: 14px;
    padding: 15px;
    text-align: left;
}

.date {
    font-size: 12px;
    padding: 15px;
    text-align: left;
}

.responsive {
    padding: 0 6px;
    width: 25%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/* Camera */

.camera {
    width: 420px;
    background-color: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;

}

#canvas {
    display: none;
}
