* {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
}

.header {
	padding: 10px 10px;
	height: auto;
	background-color: #f1f1f1;
	font-size: 14px;
}

.main {
	margin: 0px 10px;
}

.column_20 {
    width: 10%;
}

.column_80 {
    width: 90%;
}

.button {
	display: inline-block;
	font-size: 13px;
	font-family: Helvetica, sans-serif;
	color: #fff;
	background-color: #396;
	margin-top: 1%;
    width: 55px;
    height: 5%;
    border: 1px;
    border-radius: 2px;
    padding: 8px 8px;
}

.input {
	display: inline-block;
    border: 1px solid #ccc;
    padding: 10px 8px;
    margin: 2px 0;
}

.error {
	color: red;
}

.success {
	color: green;
}

.menu {
	width: 50%;
	height: auto;
	background-color: #fff;
	font-size: 16px;
	padding: 10px 10px;
/*}

nav
{*/
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1px solid black;
	float: center;
}

